
.navbar-static-top {
	height: 65px;
	background-color: #2980b9;
	border-bottom: 3px solid yellow;
}

.navbar-brand img {
	width: 60px; 
	height: 40px; 
	border-radius: 2px;
	margin-top: -4px;
}

.navbar-brand h1 {
	font-size: 1.5em;
	font-weight: 700;
	color: #fff;
	-webkit-text-stroke: 1px black;
	margin-top: -33px;
	margin-left: 65px;
}

.navbar-default .sidebar {
	margin-top: 67px;
}

.panel-primary, .panel-default, .panel-heading {
	border-radius: 0px;
}

textarea { resize: none; }

#response {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#response thead td { color: #fff; }
#response td { color: #000; }
#response td, #response th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#response tr:nth-child(even) {background-color: #f2f2f2}
#response tr:hover {background-color: #ddd;}
/*
#header {
	width: 100%;
	height: 65px;
	background-color: #2980b9;
	border-bottom: 3px solid yellow;
}

nav.navbar-top-links {
	background-color: #2980b9;
	border-bottom: 3px solid yellow;
}



.navbar-default .sidebar {
	margin-top: 67px;
}
*/