@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,300");

body {
	margin: 0 auto;
	background-color: #ecf0f1;
	font-family: "Open Sans";
	/*#2980b9;
	
	/*
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
	font-family: 'Open Sans';*/
}
.foot
{
    color: #34495e;
    font-family: "Open Sans";
}
.container {
	width: 440px;
	height: auto;
	text-align: center;
	/*background-color: #2980b9;#34495e;*/
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 160px;
}

.container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 45px;
	border: none;
}

.form-input::before {
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	color: #7f8c8d;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 35px;
}

.form-input:nth-child(2)::before {
	content: "\f023";
	margin-left: 3px;
}

.btn-login {
	cursor: pointer;
	height: 45px;
	width: 350px;
	color: #fff;
	background-color: #34495e;
	font-size: 18px;
	border: none;
	border-bottom: 4px solid #2c3e50;
	margin-bottom: 35px;
}

.btn-login:hover {
	background-color: #2c3e50;
}

.alert-success {
	width: auto;
	color: #fff;
	padding: 11px 5px 15px 15px;
	border: none;
	background-color: #2ecc71;
	border: 2px solid #27ae60;
	text-align: center;
}

.alert-danger {
	width: auto;
	color: #fff;
	padding: 11px 5px 15px 15px;
	border: none;
	background-color: #e74c3c;
	border: 2px solid #c0392b;
	text-align: center;
}

#loginmessage {
	width: 345px;
	margin: 0 auto;
	margin-bottom: 10px;
}
