@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,300");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { font-family: "Open Sans"; }
a { text-decoration: none; }

/* Header */
div.header {
	width: 100%;
	height: 66px;
	background-color: #2980b9;
	margin: 0 auto;
	border-bottom: 3px solid yellow;
}

.logo img {
	float: left;
	width: 60px; 
	height: 40px; 
	border-radius: 2px;
	margin-left: 10px;
	margin-top: 10px;
}

.logo .title {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.logo .title a {
	font-size: 1.5em;
	font-weight: 700;
	color: #ffff00;
	-webkit-text-stroke: 1px black;
}



.logo .title a span {
	color: #fff;
}

div.container {
	width: 100%;
	margin: 0 auto;
}

/* Sidebar Navigation */
.sidebar {
	width: 18%;
	height: calc(100% - 50px);
	background-color: #DEDEDE;
	float: left;
}

ul.main-nav { }
ul.main-nav li { list-style: none; }

ul.main-nav li a {
	color: #0093C4;
	display: block;
	padding: 15px 15px 15px 30px;
	font-size: 0.9em;
	font-weight: 700;
	border-bottom: 1px solid #BAB3B3;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

ul.main-nav li.sub-menu ul a { padding: 15px 15px 15px 52px; }

ul.main-nav li a:hover {
	background-color: #CFCFCF;
	/* color: #fff; */
	padding-left: 30px;
}

ul.main-nav li a.selected {
	background-color: #030303;
	color: #fff;
	padding-left: 30px;
}

ul.main-nav ul { display: none; }
ul.main-nav li.tap ul { display: block; }
ul.main-nav li ul li {
	
}
ul.main-nav li.tap .sub-arrow:after {
	content: '\2039';
	float: right;
}

ul.main-nav .sub-arrow:after {
	content: '\203A';
	float: right;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

/* Content */
.content {
	width: auto;
	height: calc(100% - 50px);
	margin-left: 18%;
	padding: 15px;
	background-color: #FFFFFF;
}

/* Panel */
div.panel {
	margin-top: 15px;
	width: 500px;
	margin: 0 auto;
}

div.panel .panel-header {
	color: #fff;
	background-color: #3498db;
	padding: 5px;
	padding-left: 15px;
	text-shadow: 0px 1px #000;
	font-weight: 700;
}

div.panel .panel-body {
	padding: 15px;
	background-color: #ecf0f1;
	font-size: 18px;
}


/* Buttons */
.btn .btn-default {

}

.btn-submit {
	cursor: pointer;
	color: #fff;
	margin-top: 10px;
	width: 100%;
	padding: 10px 25px 10px 25px;
	border: none;
	background-color: #3498db;
	border-bottom: 4px solid #2980b9;
	font-size: 16px;
	margin-bottom: 8px;
}

.btn-submit:hover {
	background-color: #2980b9;
}

.btn .btn-primary {

}

/* Form Input, Textarea, Select */
.form-input {
	display: block;
	width: auto;
	font-size: 18px;
}

.form-input input, .form-input textarea, .form-input select{
	height: 30px;
	width: 100%;
}

/* Mobile Navigation */

a.mobile {
	display: none;
	/*display: block;
	color: #fff;
	background-color: #000;
	text-align: center;
	padding: 7px;*/
}

a.mobile:active {
	background-color: #4a4a4a;
}

@media only screen and (max-width: 480px) {
	.sidebar { display: none; }
	.content { margin-left: 0px; }
	a.mobile {
		display: block;
		color: #fff;
		padding: 7px;
		float: right;
	}
}
